In [2]:
import numpy as np  # 
np.random.randint(50, 100, size=(50,5))

array([[56, 79, 50, 78, 70],
       [62, 56, 76, 50, 54],
       [58, 99, 66, 56, 70],
       [86, 83, 97, 98, 94],
       [96, 53, 90, 85, 58],
       [54, 57, 54, 89, 53],
       [76, 91, 54, 68, 82],
       [68, 61, 72, 65, 50],
       [76, 65, 65, 72, 87],
       [56, 86, 57, 57, 91],
       [73, 55, 73, 77, 87],
       [79, 98, 95, 62, 59],
       [56, 50, 99, 61, 78],
       [66, 64, 96, 94, 78],
       [94, 91, 74, 83, 79],
       [94, 99, 73, 81, 88],
       [53, 65, 60, 51, 89],
       [52, 83, 77, 52, 65],
       [59, 59, 75, 55, 75],
       [62, 70, 80, 58, 60],
       [78, 84, 51, 72, 50],
       [84, 97, 62, 60, 93],
       [93, 57, 87, 52, 79],
       [89, 56, 54, 96, 75],
       [89, 80, 62, 64, 92],
       [70, 66, 90, 68, 78],
       [77, 56, 78, 51, 65],
       [67, 83, 57, 62, 68],
       [53, 90, 82, 54, 71],
       [92, 95, 68, 51, 51],
       [52, 68, 64, 57, 90],
       [54, 87, 81, 73, 95],
       [97, 68, 80, 52, 84],
       [99, 92, 92, 74, 77],
       [82, 81, 80, 53, 87],
       [95, 87, 93, 81, 81],
       [78, 68, 74, 61, 54],
       [74, 67, 55, 75, 71],
       [94, 77, 81, 58, 99],
       [67, 54, 64, 87, 51],
       [56, 76, 90, 77, 70],
       [76, 80, 63, 82, 88],
       [83, 86, 99, 54, 97],
       [60, 69, 65, 53, 77],
       [84, 59, 58, 62, 51],
       [91, 84, 61, 79, 59],
       [86, 57, 94, 59, 92],
       [54, 71, 95, 62, 57],
       [96, 68, 72, 87, 77],
       [59, 75, 80, 61, 56]])

In [ ]:
import numpy as np  # 
n1 = np.random.randint(50, 100, size=(10,))

s# google 查 說明書:
pandas.Series   # pandas 可以加索引  
matplot  
numpy reference

#

In [9]:
# 範例1 說明 numpy 和 pandas 的差別
import numpy as np
import pandas as pd

n1 = np.random.randint(200,300,size=(10,))
# pd.Series(data=n1)
# class pandas.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=False)

s1 = pd.Series(data=n1, index=[f"student{i+1}" for i in range(10)])  # comprehension ==> 用一行建立list
display(s1+100000.001)
display(s1.values)
display(s1.index)
# Series 底層用 numpy

student1     100240.001
student2     100259.001
student3     100284.001
student4     100221.001
student5     100283.001
student6     100256.001
student7     100210.001
student8     100256.001
student9     100239.001
student10    100266.001
dtype: float64

array([240, 259, 284, 221, 283, 256, 210, 256, 239, 266])

Index(['student1', 'student2', 'student3', 'student4', 'student5', 'student6',
       'student7', 'student8', 'student9', 'student10'],
      dtype='object')

In [10]:
import requests
url = 'http://richyli.com/name/index.asp'
popup = requests.get(url)
popup.encoding # 查文字的編碼 => 'ISO-8859-1' => 這個編碼非 UTF-8
# popup.encoding = 'big-5'
# GOOGLE requests: property text (unicode)
print(popup.text)

result = popup.text.splitlines() # 自己從取出來的資料裡面找，算所需要抓的資料在第幾行 = 114 行
char_index = result[114].split('、') #

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<HTML lang="zh-TW">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NG6DX9R');</script>
<!-- End Google Tag Manager -->
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-KCKTSSW"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KRGDNN2669"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KRGDNN2669');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97269-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-97269-4');
</script>
<title>¤¤¤å©m¦W²£¥Í¾¹ : ©R¦W¡B°_¦W¡B¨ú¦W°Ñ¦Ò¤u¨ã- Chinese Name Generator </title>
<meta name="keywords" content="©R¦W, °_¦W, ©m¦W¾Ç, ©m¦W, ÃÀ¦W, ªá¦W, ¦W¦r, À¦¨à©R¦W, ©R¦W³nÅé, ¤å¾Ç, ³Ð§@, ¨ú¦W, ¤p»¡">
<meta name="description" content="´£¨Ñ¹q¸£¤Æ²£¥Í¤¤¤å©m¦Wªº§Ö³t¾÷¨î¡A¤å¦r³Ð§@ªÌªº³Ì·R¡A¥»¤g¤p»¡®a³Ì±`¨Ï¥Îªººô¸ô¤u¨ã¤§¤@¡C">
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<link rel="shortcut icon" href="/favicon.ico" />
<script data-ad-client="ca-pub-8557565258139827" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body bgcolor="white">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG6DX9R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<table width="700" border="0" align="center">
<tr>
<td colspan="2">
<h1>¤¤¤å©m¦W²£¥Í¾¹ <a href="history.htm">v3.4</a></h1>

 <form name="form" action="index.asp" method="post" >
    <hr>
    <table width="730" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td><div align="left"><b>·Q²£¥Í¦h¤Ö¦W¦r</b></div></td>
        <td>
          <div align="left">
            <select name="name_count" class="11p">
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100" selected>100</option>
                  <option value="200">200</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                  <option value="2000">2000</option>
                  <option value="5000">5000</option>
                  <option value="10000">10000</option>
                  <option value="20000">20000</option>
            </select>
          </div></td>
        <td><div align="center"><b>­n¦p¦ó¤À¹j</b> </div></td>
        <td>
          <div align="left">
            <select name="break">
                  <option value="1" selected>¥þ§Î¹y¸¹¡]¡B¡^</option>
                  <option value="2 ">¥b§Î³rÂI¡],¡^</option>
                  <option value="3">Â_¦æ</option>
                  <option value="4">ªþ¤W¨­¥÷ÃÒ¦r¸¹</option>
            </select>
          </div></td>
        <td>
          <div align="left">
            <input type="submit" name="Submit" value="§Ö³t²£¥Í¦W¦r§a¡I">
          </div></td>
        </tr>
      <tr>
        <td><div align="left"><b>§Ú­n¦Û¤v¨M©w©m</b></div></td>
        <td><div align="left">
          <input name="yourname" type="text" class="11p" id="yourname" value="" size="4" maxlength="4">
        </div></td>
        <td colspan="3"><div align="left"><span class="style8">¡]«D¥²­n¡A­Y­n¨Ì¦¹¬°À¦¨à©R¦W¡A½Ð¤T«ä¡I¡^</span></div></td>
        </tr>
    </table>
    <hr>
   </form>
</td>
</tr>
<tr><td colspan="2">

<p align="center">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-8557565258139827";
/* Name - N 728 */
google_ad_slot = "2963413935";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</td></tr>
<tr><td valign="top">

±i¤åÄÉ¡BÒ\­õ¨k¡B§õ©s¾§¡B§õ«T¦¨¡B³¯ÀR«Å¡B§dªÚ»ö¡B·Å§»¹ç¡B¶ÀÄ£§Â¡Bµ£«H§»¡B³\§BÞ³¡B³¢¥ì³Õ¡B³¯¨Î®e¡B¶À¶®¼z¡B¼ï¨Øæ¢¡B©P«Ø§»¡B¶À©y·R¡B¾G²Q´@¡B±i¸Û©¨¡B¶À¬ü§g¡BªL©ú®p¡B³¯¥iÚ{¡B³¯¾å´f¡B§ù±o«T¡B¤ý´f¥Ý¡BªLÄR§±¡B§õ¼z¬Â¡BªL«T·N¡B»¯«a¾±¡B³¯¥@¦X¡B¶À©É¾ì¡B³¯­»¨ä¡B½²»ñ±j¡B¥Õ¬M¤h¡B³\¬F¾Ë¡B¶À²Qµ^¡B¶À´f§g¡BªL¹Å©f¡BªL¤ì«i¡B³¯¹t¯ô¡B§ù¨Ø¬À¡B³¯¦p¬v¡B³¯®aµØ¡BÁÂ«ä¿o¡B³¯¶©®S¡B½²©É§g¡B¤ý¤ì§Ó¡B±iÄ£½÷¡B§dÓ}®Û¡B¬_¼ä¥¿¡B¦¿¬êÅï¡B§õ«T«Û¡B³¢¤¨«G¡B³¯§»©[¡B°K³Õ¤å¡B¶À©_¨ç¡B§d¬î¶¯¡BªL©y­^¡B³¯°¶­â¡B³\¼z®S¡B³¯ªYµ½¡B§d«a§D¡B³\¤h³Ç¡BªL®¥¥ò¡B©P§u¦Ö¡B¶À§Ó«n¡B·¨©v¿«¡B§õ¹t¶²¡B¦óªY¾ì¡B°K§Ó»¨¡BÁÂ­b©¾¡B§º¦¨­i¡B³¯«º§¡¡BªL³Ç­µ¡B¤ýÖö®Ñ¡B±ç¯ª·½¡B³\¬Õ§g¡BªL±Ó¦°¡B¬_¶®¶²¡B·¨º½¬K¡BÃ¹«ØÞ³¡B±i®a¥ò¡B±i©É§g¡B§ùª³«Û¡B­Ù¨q»T¡B³¯¼z§B¡B¶À§ÓºÖ¡B§º¨|ÀM¡B¸­©É¥þ¡B³¯¤h»¨¡BªL¤_±j¡B§õ¦¿®Z¡B¼B¦æ³·¡BªL¤¹²»¡BªLÀR®p¡B¿à¹Å¬Â¡B¤ý¬f½¬¡B¤ò©¨©M¡BÁÂ§Ó°¶¡B´¿­³§D¡B³\µ¤¶©¡B¡­¦W³æµ²§ô¡­¥H¤W¦@²£¥Í100­Ó¤¤¤å©m¦W¡A³¯©mªº¦@¦³16­Ó¡A¤ñ¨Ò¬°¡G16%¡]<a href="big_10.htm">¥¿±`¤ñ¨Ò¬ù¦b11%¥ª¥k</a>¡^¡C
		</td>
		<td valign="top" width="300">
<script type="text/javascript"><!--
google_ad_client = "pub-8557565258139827";
/* Name-LREC-1 */
google_ad_slot = "3476576480";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<script type="text/javascript"><!--
google_ad_client = "pub-8557565258139827";
/* Name-LREC-2 */
google_ad_slot = "9759194601";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
		</td>
	</tr>
	<tr>
		<td colspan="2">


			<hr>
<p><strong>©R¦W¤£¨D¤H®T¼Ö±M°Ï</strong>¡]«áªG¦Û­t¡^<br><br>
			<a href="index.asp">À¦¨à©R¦W</a> | <a href="novel.asp">¤p»¡¤Hª«©R¦W</a> | <a href="novel.asp">µ§¦W©R¦W</a> |<a href="company.asp"> ¥ø·~©R¦W</a> | <a href="http://www.richyli.com/randomname/">­^¤å¦W</a> <a href="http://www.richyli.com/randomname/">Random Name Generator</a> | </p>
<hr>
			<p>Á{®É»Ý­n®º³y«Ü¦h¤¤¤å©m¦W¶Ü¡]<a href="usage.htm">©Î¨ä¥L»Ý¨D</a>¡^¡H¡u¤¤¤å©m¦W²£¥Í¾¹¡v¸g¹L¦h¦~§ïª©¡A¥i³z¹L¶Ã¼Æ²£¥Í·¥¬°¹G¯uªº¤¤¤å©m¦W¦W³æ¡A¥Ø«e¥i¥H²Õ¦X<b>¹O5000¸U</b>­Ó¤£¦Pªº¤¤¤å¦W¦r¡]½d¨Ò <a href="sample1.htm">1</a>, <a href="sample2.htm">2</a>, <a href="sample3.htm">3</a>, <a href="sample4.htm">4</a>, <a href="sample5.htm">5</a>, <a href="sample6.htm">6</a>, <a href="sample7.htm">7</a>¡^¡A¦p¦³¥ô¦ó«ØÄ³¡A<a href="../about/contact.htm">½Ð¼g«H§i¶D§Ú</a>¡AÁÂÁÂ¡I<br>
			<br>³o¤£¬O©R¦W¦Ñ®v©Î§K¶O©R¦W³nÅé¡A­Y¦U¦ì®aªø­n¥H¦¹´À±zªº·s¥Í¨à°_¦W©Î´À¦Û¤v§ï¦W®É¡A<strong>½Ð°È¥²¤T«ä</strong>¡AÁ×§K¤é«á¿ò¾Ñ¡C</p>
			<hr>
			<a href="usage.htm">¥\¯à</a> | <a href="big_10.htm">¥xÆW¤Q¤j©m¤ó</a> | <a href="new_double_name.htm">·s¿³½Æ©m¥X²{</a> | <a href="Hot_Yi.htm">¼öªùªº¡u©É¡v</a> | <a href="links.htm">¬ÛÃöºô¯¸</a><p>

			<p id="pagenote"><a href="../about/copyright.htm" title="Copyright">«O¯d³¡¤ÀÅv§Q (Some rights reserved)</a>, 1996-2020, Richy Li. </p>
		</td>
	</tr>
</table>


<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-103495-7";
urchinTracker();
</script>
</body></html>

In [ ]:
# 定義一個 function (????) ---> getName
# 基本的框架為以下，回傳五個數值 (資料??)
def getName(num):


    return cnames[:num]
getNames(5)

# #####################

#

In [ ]:
# 範例2 抓網站資料應用 pandas 
import requests
import pandas as pd

# 設定time為獲取中文姓名100筆的倍數。time=3，就是300筆的意思。
times = 1
cnames = []
for x in range(times):
    url = 'http://www.richyli.com/name/index.asp'
    r = requests.get(url)
    r.encoding = 'big5'
    
    # 將網頁中的資料以分行的方式存成文字檔
    result = r.text.splitlines()
    
    # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
    char_index = result[114].rfind("、")
    temp = result[114][:char_index]
    
    # 將temp的100筆姓名新增到cnames中
    cnames.append(temp)

# 將每100筆姓名的list加一個「、」，再組合成字串存到my_names中
my_names = "、".join(str(x) for x in cnames)
print(my_names)

In [ ]:
import requests
def getNames(num):
    times = 1
    cnames = []
    for x in range(times):
        url = 'http://www.richyli.com/name/index.asp'
        r = requests.get(url)
        r.encoding = 'big5'
        
        # 將網頁中的資料以分行的方式存成文字檔
        result = r.text.splitlines()
        
        # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
        char_index = result[114].rfind("、")
        temp = result[114][:char_index]
        
        # 將temp的100筆姓名新增到cnames中
        cnames.append(temp)
    print(type(cnames[0]))
    names = cnames[0].split('、')
    return names[:num]


getNames(50)

In [ ]:
import numpy as np
import pandas as pd

n2 = np.random.randint(50,100,size=(50,5))
dataFrame = pd.DataFrame(data=n2,
             index=names[:50],
             columns=["國文","英文","數學","地理","歷史"]
             )
dataFrame

In [ ]:
##########################
import numpy as np
# pandas datafram

n2 = np.random.randint(59,100, size(50,6))
pd.DataFrame(data = n2,
             index = getName(50) # 抓 50 個學生
             columns = ["國文","英文","數學","物理","化學","體育"]

             )

###########################

# ################
範例2 抓網站資料應用 pandas 
一次抓 100 筆資料進來，避免一直連網站去網站的 server 方法
Line50: names = getNames(100)

In [35]:
# 範例2 (融合版)抓網站資料應用 pandas 
###

import requests
import pandas as pd

# 設定time為獲取中文姓名100筆的倍數。time=3，就是300筆的意思。
times = 1
cnames = []
for x in range(times):
    url = 'http://www.richyli.com/name/index.asp'
    r = requests.get(url)
    r.encoding = 'big5'
    
    # 將網頁中的資料以分行的方式存成文字檔
    result = r.text.splitlines()
    
    # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
    char_index = result[114].rfind("、")
    temp = result[114][:char_index]
    
    # 將temp的100筆姓名新增到cnames中
    cnames.append(temp)

# 將每100筆姓名的list加一個「、」，再組合成字串存到my_names中
my_names = "、".join(str(x) for x in cnames)
print(my_names)

###

import requests
def getNames(num):
    times = 1
    cnames = []
    for x in range(times):
        url = 'http://www.richyli.com/name/index.asp'
        r = requests.get(url)
        r.encoding = 'big5'
        
        # 將網頁中的資料以分行的方式存成文字檔
        result = r.text.splitlines()
        
        # 114是中文姓名開始的列，找到最後一個「、」，設定成為字串的切片位置。
        char_index = result[114].rfind("、")
        temp = result[114][:char_index]
        
        # 將temp的100筆姓名新增到cnames中
        cnames.append(temp)
    print(type(cnames[0]))
    names = cnames[0].split('、')
    return names[:num]


names = getNames(100)  

###

許鈺婷、金剛侑、朱培倫、林嘉淑、許先樂、李侑來、張慧娟、梁翊洋、錢雅萍、蔣昀裕、陳韻姍、黃桂汝、李添欣、李雅惠、韓智火、許明杰、翁智義、侯乃孝、林家瑜、曹瓊仲、呂海毓、陳奕盈、陳哲生、張郁婷、潘中良、李淑美、崔昀瑄、張博帆、顏維倫、楊玉婷、王俊賢、胡采仰、陳柔修、陳湖友、張淑賢、張珮夫、吳蘭妏、劉俊彥、鄭智傑、李淑貴、李姿羽、林建然、蘇佳穎、陳苑謙、戴建法、楊嘉玲、葉重岳、曾俊良、狄坤民、張雅臻、楊維倫、黃常軍、詹育萱、吳婉如、傅玄雄、陳宣霖、吳怡君、許偉成、沈石英、楊得瑋、江雅雯、李雅婷、陳宏聖、黃淑慧、鄭淑貞、梁建彰、邱勝傑、韓財蕙、陸瓊慧、傅婉菁、謝人洋、王珮如、吳心怡、陳威福、李育秋、李怡靜、李文凱、楊家綺、張淑珍、郭婷婷、楊先桂、江詩涵、潘怡萱、林淑貞、蔡麗娟、蔡秉春、吳品彬、謝力元、楊秀臻、盧兆茂、汪之梅、陳冠孜、張佳汝、路江亮、李佳宣、王詩婷、程鳳尹、施治妮、陳宜諭、曹宏恆
<class 'str'>

In [36]:
##-1

import numpy as np
import pandas as pd

n2 = np.random.randint(59,100,size=(11,5))
dataFrame = pd.DataFrame(data=n2,
             index=names[:11],
             columns=["國文","英文","數學","地理","歷史"]
             )
dataFrame

     國文  英文  數學  地理  歷史
陳雯婷  73  59  75  76  94
陳旺漢  82  64  87  87  79
陳哲瑋  76  76  63  93  70
柳佳瑩  79  71  82  82  64
柳冠勳  91  94  73  77  64
黃志豪  59  62  73  88  64
李宜容  93  66  68  76  72
楊盛秋  78  78  61  67  82
王婉如  67  71  83  81  65
馮玉婷  77  59  86  82  72
陳麗琴  66  79  97  71  74

以下是增加一個 INDEX (??) 的方法

In [38]:
# or
##-2 

import numpy as np
import pandas as pd

n2 = np.random.randint(50,100,size=(11,5))
dataFrame = pd.DataFrame(data=n2,
             index=[f"{index+1}{name}" for index,name in enumerate(names[:11])],
             columns=["國文","英文","數學","地理","歷史"]
             )
dataFrame

       國文  英文  數學  地理  歷史
1陳雯婷   83  59  85  96  60
2陳旺漢   87  63  86  57  59
3陳哲瑋   91  71  94  77  62
4柳佳瑩   50  66  92  54  95
5柳冠勳   66  78  73  93  80
6黃志豪   93  69  85  75  69
7李宜容   68  78  65  72  54
8楊盛秋   85  73  78  96  75
9王婉如   91  99  67  89  78
10馮玉婷  94  81  55  60  87
11陳麗琴  99  59  82  94  64

In [39]:
dataFrame["國文"]

1陳雯婷     83
2陳旺漢     87
3陳哲瑋     91
4柳佳瑩     50
5柳冠勳     66
6黃志豪     93
7李宜容     68
8楊盛秋     85
9王婉如     91
10馮玉婷    94
11陳麗琴    99
Name: 國文, dtype: int64

In [40]:
dataFrame[["英文","國文"]]

       英文  國文
1陳雯婷   59  83
2陳旺漢   63  87
3陳哲瑋   71  91
4柳佳瑩   66  50
5柳冠勳   78  66
6黃志豪   69  93
7李宜容   78  68
8楊盛秋   73  85
9王婉如   99  91
10馮玉婷  81  94
11陳麗琴  59  99

In [41]:
total = dataFrame["數學"]+ dataFrame["地理"]+ dataFrame["歷史"]+ dataFrame["英文"]+ dataFrame["國文"]
dataFrame["TOTAL"] = total
dataFrame

       國文  英文  數學  地理  歷史  TOTAL
1陳雯婷   83  59  85  96  60    383
2陳旺漢   87  63  86  57  59    352
3陳哲瑋   91  71  94  77  62    395
4柳佳瑩   50  66  92  54  95    357
5柳冠勳   66  78  73  93  80    390
6黃志豪   93  69  85  75  69    391
7李宜容   68  78  65  72  54    337
8楊盛秋   85  73  78  96  75    407
9王婉如   91  99  67  89  78    424
10馮玉婷  94  81  55  60  87    377
11陳麗琴  99  59  82  94  64    398